<body>
	<div id="banner_test" >
	<!-- AD Area -->	
	</div>
 
	<script type="text/javascript" charset='utf-8'> 
		
		// 1)
		function adStart(top, left, adValue){
		
			// 2)
			var ad = new SignalAD();

			// 3)
			ad.setting({
				ssl : false, 		
				adTarget : adValue, 			
				adDepth : "999999",				
				publisherCD : "Publisher Code", 
				mediaCD : "Media Code", 		
				sectionCD : "Section Code",      
				linkTarget : "1"                
			},
			{
				done : function( status, msg ) {
					console.log("[event] done : "+status+" msg :"+msg);
				},
				fail : function( status, msg ) {
					console.log("[event] fail : "+status+" msg : "+msg);
				},
				adclick : function( status, msg ) {
					console.log("[event] adclick : ( status "+status+" msg : "+msg+" )");
				},
				etc : function( status, msg ) {
					console.log("[event] fail - status : "+status+" msg : "+msg);
				},
				noad : function( status, msg ) {
					console.log("[event] noad - status : "+status+" msg : "+msg);
				},
				close : function( status, msg ) {
					console.log("[event] close - status : "+status+" msg : "+msg);
				},
				chargeable : function( status, msg ) {
					console.log("[event] at type - status : "+status+" msg : "+msg);
				}
			}); 

			// 4)
			ad.start(); 
		}

		adStart('0px', '0px', 'banner_test');

	</script>
</body>